<div class="card-body">
    <h4 class="titulo1"> <a routerLink="/cuarto" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">BACKEND DEL DESARROLLO WEB</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/BACK-END DESARROLLO WEB/Como programar a Java, 10ª Edición - Paul Deitel.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Como programar a Java, 10ª Edición - Paul Deitel</h4>
                <a href="../../../../assets/docs/4cuartoS/BACK-END DESARROLLO WEB/Como programar a Java, 10ª Edición - Paul Deitel.pdf"
                    download="Como programar a Java, 10ª Edición - Paul Deitel.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/BACK-END DESARROLLO WEB/REST in Practice-Hypermedia and Systems Architecture - Jim Webber.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">REST in Practice-Hypermedia and Systems Architecture - Jim Webber</h4>
                <a href="../../../../assets/docs/4cuartoS/BACK-END DESARROLLO WEB/REST in Practice-Hypermedia and Systems Architecture - Jim Webber.pdf"
                    download="REST in Practice-Hypermedia and Systems Architecture - Jim Webber.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/BACK-END DESARROLLO WEB/sergio_lujan-programacion_de_aplicaciones_web.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Sergio Lujan Programacion_de_aplicaciones_web</h4>
                <a href="../../../../assets/docs/4cuartoS/BACK-END DESARROLLO WEB/sergio_lujan-programacion_de_aplicaciones_web.pdf"
                    download="sergio_lujan-programacion_de_aplicaciones_web.pdf"> Descargar </a>
            </div>
        </div>


    </div>
</div>