<body class="card-body">

    <h4 class="titulo1"> <a routerLink="/tercero" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">DESARROLLO WEB</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/11. Manual de JavaScript autor Miguel Ángel Álvarez y Manu Gutierrez.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Manual de JavaScript autor Miguel Ángel Álvarez y Manu Gutierrez</h4>
                <a href="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/11. Manual de JavaScript autor Miguel Ángel Álvarez y Manu Gutierrez.pdf"
                    download="11. Manual de JavaScript autor Miguel Ángel Álvarez y Manu Gutierrez.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/5. Gráficos digitales autor David Gómez Fontanills y Alba Ferrer Franquesa (1).pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Gráficos digitales autor David Gómez Fontanills y Alba Ferrer Franquesa</h4>
                <a href="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/5. Gráficos digitales autor David Gómez Fontanills y Alba Ferrer Franquesa (1).pdf"
                    download="5. Gráficos digitales autor David Gómez Fontanills y Alba Ferrer Franquesa (1).pdf">
                    Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe src="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/angular_compressed.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Angular_compressed</h4>
                <a href="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/angular_compressed.pdf"
                    download="angular_compressed.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/Desarrollo REST con Rails (1).pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Desarrollo REST con Rails</h4>
                <a href="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/Desarrollo REST con Rails (1).pdf"
                    download="Desarrollo REST con Rails (1).pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/Introduccion a la Programacion Orientada a Objetos.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Introduccion a la Programacion Orientada a Objetos</h4>
                <a href="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/Introduccion a la Programacion Orientada a Objetos.pdf"
                    download="Introduccion a la Programacion Orientada a Objetos.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe src="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/Manual-TypeScript.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Manual-TypeScript</h4>
                <a href="../../../../assets/docs/3terceroS/DESARROLLO WEB FRON-END/Manual-TypeScript.pdf"
                    download="Manual-TypeScript.pdf"> Descargar </a>
            </div>
        </div>

    </div>





</body>