<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/cuarto" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">LEGISLACIÓN INFORMATICA</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe src="../../../../assets/docs/4cuartoS/LEGISLACION INFORMATICA/COIP_act_feb-2021.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">COIP_act_feb-2021</h4>
                <a href="../../../../assets/docs/4cuartoS/LEGISLACION INFORMATICA/COIP_act_feb-2021.pdf"
                    download="COIP_act_feb-2021.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/LEGISLACION INFORMATICA/Constitucion-de-la-Republica-del-Ecuador_act_ene-2021.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Constitucion-de-la-Republica-del-Ecuador_act_ene-2021</h4>
                <a href="../../../../assets/docs/4cuartoS/LEGISLACION INFORMATICA/Constitucion-de-la-Republica-del-Ecuador_act_ene-2021.pdf"
                    download="Constitucion-de-la-Republica-del-Ecuador_act_ene-2021.pdf"> Descargar </a>
            </div>
        </div>


    </div>

</div>