
<body class="body">
    <h2 class="titulo">TERCER SEMESTRE</h2>
    <div class="row">
        <div class="col" >
         <a routerLink="/base-datos-no-relacional" routerLinkActive="activebutton">   
            <img class="zoom" src="https://cdn.pixabay.com/photo/2020/03/17/17/36/database-4941301_640.png"  >
         <h5>Base de datos avanzada</h5>
        </a>   
        </div>
        <div class="col">
        <a routerLink="/calculo-diferencial" routerLinkActive="activebutton">    
            <img class="zoom" src="https://cdn.pixabay.com/photo/2019/12/21/20/44/math-work-4711302_960_720.jpg" alt="Marketing">
            <h5>Cálculo diferencial e integral </h5>
        </a>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <a routerLink="/desarrollo-web" routerLinkActive="activebutton">
            <img class="zoom" src="https://images.pexels.com/photos/270632/pexels-photo-270632.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1    " alt="modas">
            <h5>Desarrollo web</h5>    
        </a>
        </div>
        <div class="col">
            <a routerLink="/diseno-interfaz" routerLinkActive="activebutton">
            <img class="zoom" src="https://cdn.pixabay.com/photo/2018/08/18/13/26/interface-3614766_960_720.png" alt="incendios">
                <h5>Diseño de interfaz</h5>
            </a>
        </div>
        
        </div>
    
</body> 