<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/primer" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">FUNDAMENTOS DE PROGRAMACIÓN</h4>

    <div class="cards">
            <div class="card">
                <div class="pdf">
                    <iframe
                        src="../../../../assets/docs/1primerS/fundamentos/02. Lenguaje C autor Enrique Vicente Bonet Esteban.pdf"
                        style="width:80%; height:300px;" frameborder="0"></iframe>
                </div> 
                <div class="container">
                    <h4 class="semestre">Lenguaje C
                        autor Enrique Vicente Bonet Esteban</h4>
                    <a href="../../../../assets/docs/1primerS/fundamentos/02. Lenguaje C autor Enrique Vicente Bonet Esteban.pdf"
                        download="02. Lenguaje C autor Enrique Vicente Bonet Esteban.pdf"> Descargar </a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="pdf">
                    <iframe
                        src="../../../../assets/docs/1primerS/fundamentos/Como programar a Java, 10ª Edición - Paul Deitel (1).pdf"
                        style="width:80%; height:300px;" frameborder="0"></iframe>
                </div> 
                <div class="container">
                    <h4 class="semestre">Como programar
                        a Java, 10ª Edición - Paul Deitel</h4>
                    <a href="../../../../assets/docs/1primerS/fundamentos/Como programar a Java, 10ª Edición - Paul Deitel (1).pdf"
                        download="Como programar a Java, 10ª Edición - Paul Deitel (1).pdf"> Descargar </a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="pdf">
                    <iframe
                        src="../../../../assets/docs/1primerS/fundamentos/fundamentos de programacion Algoritmos estructura de datos y objetos. Luis Joyanes.pdf"
                        style="width:80%; height:300px;" frameborder="0"></iframe>
                </div> 
                <div class="container">
                    <h4 class="semestre">Fundamentos de
                        programacion Algoritmos estructura de datos y objetos. Luis Joyanes</h4>
                    <a href="../../../../assets/docs/1primerS/fundamentos/fundamentos de programacion Algoritmos estructura de datos y objetos. Luis Joyanes.pdf"
                        download="fundamentos de programacion Algoritmos estructura de datos y objetos. Luis Joyanes.pdf">
                        Descargar </a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="pdf">
                    <iframe src="../../../../assets/docs/1primerS/fundamentos/Fundamentos de Programación.pdf"
                        style="width:80%; height:300px;" frameborder="0"></iframe>
                </div> <br>
                <div class="container">
                    <h4 class="semestre">Fundamentos de
                        Programación</h4>
                    <a href="../../../../assets/docs/1primerS/fundamentos/Fundamentos de Programación.pdf"
                        download="Fundamentos de Programación"> Descargar </a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="container">
                    <div class="pdf">
                        <iframe
                            src="../../../../assets/docs/1primerS/fundamentos/Fundamentos-de-programación-4ta-Edición-Luis-Joyanes-Aguilar-2.pdf"
                            style="width:80%; height:300px;" frameborder="0"></iframe>
                    </div>
                    <h4 class="semestre">Fundamentos-de-programación-4ta-Edición-Luis-Joyanes-Aguilar</h4>
                    <a href="../../../../assets/docs/1primerS/fundamentos/Fundamentos-de-programación-4ta-Edición-Luis-Joyanes-Aguilar-2.pdf"
                        download="Fundamentos-de-programación-4ta-Edición-Luis-Joyanes-Aguilar-2.pdf"> Descargar </a>
                </div>

            </div>
            <br>
    </div>

</div>