
<div class="card-body">

    <h1 class="titulo">Fundamentos de programación</h1>
    <div class="card">
        <h4 class="semestre">02. Lenguaje C autor Enrique Vicente Bonet Esteban.pdf</h4>
            <a href="../../../../assets/docs/1primerS/fundamentos/02. Lenguaje C autor Enrique Vicente Bonet Esteban.pdf"
            download="02. Lenguaje C autor Enrique Vicente Bonet Esteban.pdf"> <button (click)="counter4()">Descargar</button> </a>
            <h2>Numero de descargas = {{ contador4}}</h2>
    </div>
    <div class="card">
                    <h4 class="semestre">Como programar a Java, 10ª Edición - Paul Deitel (1).pdf</h4>
            <a href="../../../../assets/docs/1primerS/fundamentos/Como programar a Java, 10ª Edición - Paul Deitel (1).pdf"
                download="Como programar a Java, 10ª Edición - Paul Deitel (1).pdf"> <button (click)="counter5()">Descargar</button> </a>
                <h2>Numero de descargas = {{ contador5}}</h2>
            </div>
    <div class="card">
                    <h4 class="semestre">fundamentos de programacion Algoritmos estructura de datos y objetos. Luis Joyanes.pdf</h4>
            <a href="../../../../assets/docs/1primerS/fundamentos/fundamentos de programacion Algoritmos estructura de datos y objetos. Luis Joyanes.pdf"
                download="fundamentos de programacion Algoritmos estructura de datos y objetos. Luis Joyanes.pdf"> <button (click)="counter6()">Descargar</button> </a>
                <h2>Numero de descargas = {{ contador6}}</h2>
            </div>
    <div class="card">
                    <h4 class="semestre">Fundamentos de Programación.pdf</h4>
            <a href="../../../../assets/docs/1primerS/fundamentos/Fundamentos de Programación.pdf"
                download="Fundamentos de Programación.pdf"><button (click)="counter7()">Descargar</button> </a>
                <h2>Numero de descargas = {{ contador7}}</h2>
            </div>
    <div class="card">
                    <h4 class="semestre">Fundamentos-de-programación-4ta-Edición-Luis-Joyanes-Aguilar-2.pdf</h4>
            <a href="../../../../assets/docs/1primerS/fundamentos/Fundamentos-de-programación-4ta-Edición-Luis-Joyanes-Aguilar-2.pdf"
                download="Fundamentos-de-programación-4ta-Edición-Luis-Joyanes-Aguilar-2.pdf"><button class="zoom">Descargar</button> </a>
                
            </div>
</div>