
<div class="card-body">

    <h1 class="titulo">PROGRAMACIÓN ORIENTADA A OBJETOS</h1>
    <div class="card">
        <h4 class="semestre">Fundamentos de programación en Java autor Jorge Martinez Ladrón de Guevara</h4>
            <a href="../../../../assets/docs/2segundoS/poo/08. Fundamentos de programación en Java autor Jorge Martinez Ladrón de Guevara.pdf"
            download="08. Fundamentos de programación en Java autor Jorge Martinez Ladrón de Guevara.pdf"> <button class="zoom">Descargar</button> </a>
    </div>
    <div class="card">
                    <h4 class="semestre">Introducción a la Programación con Python autor Andrés Marzal e Isabel Gracia</h4>
            <a href="../../../../assets/docs/2segundoS/poo/24. Introducción a la Programación con Python autor Andrés Marzal e Isabel Gracia.pdf"
                download="24. Introducción a la Programación con Python autor Andrés Marzal e Isabel Gracia.pdf"> <button class="zoom">Descargar</button> </a>
            </div>
    <div class="card">
                    <h4 class="semestre">Como programar a Java, 10ª Edición - Paul Deitel </h4>
            <a href="../../../../assets/docs/2segundoS/poo/Como programar a Java, 10ª Edición - Paul Deitel (1).pdf"
                download="Como programar a Java, 10ª Edición - Paul Deitel (1).pdf"> <button class="zoom">Descargar</button> </a>
            </div>
    <div class="card">
                    <h4 class="semestre">La Biblia de C#_Completa</h4>
            <a href="../../../../assets/docs/2segundoS/poo/La Biblia de C#_Completa (1).pdf"
                download="La Biblia de C#_Completa (1).pdf"><button class="zoom">Descargar</button> </a>
            </div>
    <div class="card">
                <h4 class="semestre">Python3 por Guido van Rossum</h4>
        <a href="../../../../assets/docs/2segundoS/poo/Python3 por Guido van Rossum.pdf"
            download="Python3 por Guido van Rossum.pdf"><button class="zoom">Descargar</button> </a>
        </div>
</div>