<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/cuarto" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">EMPRENDIMIENTO</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/EMPRENDIMIENTO E INNOVACION/Articulacin-de-los-actores-del-ecosistema-emprendedor-como-herramienta-efectiva-para-la-transicin-de-un-proyecto-emprende.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Articulacion de los actores del ecosistema emprendedor como herramienta efectiva
                    para la transicin de un proyecto emprende</h4>
                <a href="../../../../assets/docs/4cuartoS/EMPRENDIMIENTO E INNOVACION/Articulacin-de-los-actores-del-ecosistema-emprendedor-como-herramienta-efectiva-para-la-transicin-de-un-proyecto-emprende.pdf"
                    download="Articulacin-de-los-actores-del-ecosistema-emprendedor-como-herramienta-efectiva-para-la-transicin-de-un-proyecto-emprende.pdf">
                    Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/EMPRENDIMIENTO E INNOVACION/Documento_LEY-ORGANICA-EMPRENDIMIENTO-INNOVACION.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Documento_LEY-ORGANICA-EMPRENDIMIENTO-INNOVACION.pdf</h4>
                <a href="../../../../assets/docs/4cuartoS/EMPRENDIMIENTO E INNOVACION/Documento_LEY-ORGANICA-EMPRENDIMIENTO-INNOVACION.pdf"
                    download="Documento_LEY-ORGANICA-EMPRENDIMIENTO-INNOVACION.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/EMPRENDIMIENTO E INNOVACION/El-libro-negro-del-emprendedor-Fernando-Trías.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">El-libro-negro-del-emprendedor-Fernando-Trías</h4>
                <a href="../../../../assets/docs/4cuartoS/EMPRENDIMIENTO E INNOVACION/El-libro-negro-del-emprendedor-Fernando-Trías.pdf"
                    download="El-libro-negro-del-emprendedor-Fernando-Trías.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/EMPRENDIMIENTO E INNOVACION/Emprendimiento_en_Ecuador_Ekos_2015.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Emprendimiento_en_Ecuador_Ekos_2015</h4>
                <a href="../../../../assets/docs/4cuartoS/EMPRENDIMIENTO E INNOVACION/Emprendimiento_en_Ecuador_Ekos_2015.pdf"
                    download="Emprendimiento_en_Ecuador_Ekos_2015.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe src="../../../../assets/docs/4cuartoS/EMPRENDIMIENTO E INNOVACION/GEM_Ecuador_2019.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">GEM_Ecuador_2019</h4>
                <a href="../../../../assets/docs/4cuartoS/EMPRENDIMIENTO E INNOVACION/GEM_Ecuador_2019.pdf"
                    download="GEM_Ecuador_2019.pdf"> Descargar </a>
            </div>
        </div>


    </div>

</div>