<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/cuarto" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">ESTADÍSTICA APLICADA</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/PROCESOS ESTADÍSTICOS APLICADOS A LAS TICS/Dialnet-LaEstadisticaDescriptivaYLasTIC-3693928.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">La Estadistica Descriptiva Y Las TIC</h4>
                <a href="../../../../assets/docs/4cuartoS/PROCESOS ESTADÍSTICOS APLICADOS A LAS TICS/Dialnet-LaEstadisticaDescriptivaYLasTIC-3693928.pdf"
                    download="Dialnet-LaEstadisticaDescriptivaYLasTIC-3693928.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/PROCESOS ESTADÍSTICOS APLICADOS A LAS TICS/TIC EN ENSEÑANZA DE ESTADÍSTICA DESCRIPTIVA.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">TIC EN ENSEÑANZA DE ESTADÍSTICA DESCRIPTIVA</h4>
                <a href="../../../../assets/docs/4cuartoS/PROCESOS ESTADÍSTICOS APLICADOS A LAS TICS/TIC EN ENSEÑANZA DE ESTADÍSTICA DESCRIPTIVA.pdf"
                    download="TIC EN ENSEÑANZA DE ESTADÍSTICA DESCRIPTIVA.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/PROCESOS ESTADÍSTICOS APLICADOS A LAS TICS/TIC-ESTADISTICA.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">TIC-ESTADISTICA</h4>
                <a href="../../../../assets/docs/4cuartoS/PROCESOS ESTADÍSTICOS APLICADOS A LAS TICS/TIC-ESTADISTICA.pdf"
                    download="TIC-ESTADISTICA.pdf"> Descargar </a>
            </div>
        </div>

    </div>

</div>