<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/quinto" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">CALIDAD DEL SOFTWARE</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/5quintoS/ASEGURAMIENTO DE LA CALIDAD DE SOFTWARE/Código Limpio - Robert Martin Spanish.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>            </div>
            <div class="container">
                <h4 class="semestre">Código Limpio - Robert Martin Spanish</h4>
                <a href="../../../../assets/docs/5quintoS/ASEGURAMIENTO DE LA CALIDAD DE SOFTWARE/Código Limpio - Robert Martin Spanish.pdf"
                    download="Código Limpio - Robert Martin Spanish.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/5quintoS/ASEGURAMIENTO DE LA CALIDAD DE SOFTWARE/Ingenieria Del Software Un Enfoque Practico 7ta ed.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>            </div>
            <div class="container">
                <h4 class="semestre">Ingenieria Del Software Un Enfoque Practico 7ta ed</h4>
                <a href="../../../../assets/docs/5quintoS/ASEGURAMIENTO DE LA CALIDAD DE SOFTWARE/Ingenieria Del Software Un Enfoque Practico 7ta ed.pdf"
                    download="Ingenieria Del Software Un Enfoque Practico 7ta ed.pdf"> Descargar </a>
            </div>
        </div>
    </div>

</div>