
<div class="card-body">

    <h1 class="titulo">ÁLGEBRA Y TRIGONOMETRÍA</h1>
    <div class="card">
        <h4 class="semestre">Matemáticas básicas para el acceso a la universidad</h4>
            <a href="../../../../assets/docs/2segundoS/algebra-trigonometria/1321. Matemáticas básicas para el acceso a la universidad.pdf"
            download="1321. Matemáticas básicas para el acceso a la universidad.pdf"> <button class="zoom">Descargar</button> </a>
    </div>
    <div class="card">
                    <h4 class="semestre">Manual Básico de Matlab autor Mª Cristina Casado Fernández</h4>
            <a href="../../../../assets/docs/2segundoS/algebra-trigonometria/14. Manual Básico de Matlab autor Mª Cristina Casado Fernández.pdf"
                download="14. Manual Básico de Matlab autor Mª Cristina Casado Fernández.pdf"> <button class="zoom">Descargar</button> </a>
            </div>
    <div class="card">
                    <h4 class="semestre">Algebra y trigonometría</h4>
            <a href="../../../../assets/docs/2segundoS/algebra-trigonometria/Algebra y trigonometría.pdf"
                download="Algebra y trigonometría.pdf"> <button class="zoom">Descargar</button> </a>
            </div>
   
</div>