<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/segundo" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">ALGEBRA Y TRIGONOMETRIA</h4>
    <div class="cards">

        <div class="card">
            <div class="container">
                <div class="pdf">
                    <iframe
                        src="../../../../assets/docs/2segundoS/algebra-trigonometria/1321. Matemáticas básicas para el acceso a la universidad.pdf"
                        style="width:80%; height:300px;" frameborder="0"></iframe>
                </div>
                <h4 class="semestre">Matemáticas básicas para el acceso a la universidad</h4>
                <a href="../../../../assets/docs/2segundoS/algebra-trigonometria/1321. Matemáticas básicas para el acceso a la universidad.pdf"
                    download="1321. Matemáticas básicas para el acceso a la universidad.pdf"> Descargar </a>
            </div>
        </div> 
        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/2segundoS/algebra-trigonometria/14. Manual Básico de Matlab autor Mª Cristina Casado Fernández.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Manual Básico de Matlab autor Mª Cristina Casado Fernández</h4>
                <a href="../../../../assets/docs/2segundoS/algebra-trigonometria/14. Manual Básico de Matlab autor Mª Cristina Casado Fernández.pdf"
                    download="14. Manual Básico de Matlab autor Mª Cristina Casado Fernández.pdf"> Descargar </a>
            </div>
        </div> 
        <div class="card">
            <div class="pdf">
                <iframe src="../../../../assets/docs/2segundoS/algebra-trigonometria/Algebra y trigonometría.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Algebra y trigonometría</h4>
                <a href="../../../../assets/docs/2segundoS/algebra-trigonometria//Algebra y trigonometría.pdf"
                    download="Algebra y trigonometría.pdf"> Descargar </a>
            </div>
        </div> 
        <div class="card">
            <div class="pdf">
                <iframe src="../../../../assets/docs/2segundoS/algebra-trigonometria/Álgebra de Baldor.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Álgebra de Baldor</h4>
                <a href="../../../../assets/docs/2segundoS/algebra-trigonometria/Algebra y trigonometría.pdf"
                    download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> Descargar </a>
            </div>
        </div>
    </div>


</div>