<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/tercero" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">DISEÑO DE INTERFAZ</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/08. Fundamentos de programación en Java autor Jorge Martinez Ladrón de Guevara (1).pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Fundamentos de programación en Java autor Jorge Martinez Ladrón de Guevara</h4>
                <a href="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/08. Fundamentos de programación en Java autor Jorge Martinez Ladrón de Guevara (1).pdf"
                    download="08. Fundamentos de programación en Java autor Jorge Martinez Ladrón de Guevara (1).pdf">
                    Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/09. Java desde Cero autor UNAM.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Java desde Cero autor UNAM</h4>
                <a href="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/09. Java desde Cero autor UNAM.pdf"
                    download="09. Java desde Cero autor UNAM.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/1. Conceptos básicos de diseño gráfico autor Jordi Alberich, David Gómez Fontanills y Alba Ferrer Franquesa.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Conceptos básicos de diseño gráfico autor Jordi Alberich, David Gómez Fontanills y
                    Alba Ferrer Franquesa</h4>
                <a href="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/1. Conceptos básicos de diseño gráfico autor Jordi Alberich, David Gómez Fontanills y Alba Ferrer Franquesa.pdf"
                    download="1. Conceptos básicos de diseño gráfico autor Jordi Alberich, David Gómez Fontanills y Alba Ferrer Franquesa.pdf">
                    Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/5. Gráficos digitales autor David Gómez Fontanills y Alba Ferrer Franquesa.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Gráficos digitales autor David Gómez Fontanills y Alba Ferrer Franquesa</h4>
                <a href="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/5. Gráficos digitales autor David Gómez Fontanills y Alba Ferrer Franquesa.pdf"
                    download="5. Gráficos digitales autor David Gómez Fontanills y Alba Ferrer Franquesa.pdf"> Descargar
                </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/Introducción a los Servicios Web. Invocación de servicios web SOAP_ (1).pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Introducción a los Servicios Web. Invocación de servicios web SOAP</h4>
                <a href="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/Introducción a los Servicios Web. Invocación de servicios web SOAP_ (1).pdf"
                    download="Introducción a los Servicios Web. Invocación de servicios web SOAP_ (1).pdf"> Descargar
                </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/libro1-InterfacesDeUsuario.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Interfaces De Usuario</h4>
                <a href="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/libro1-InterfacesDeUsuario.pdf"
                    download="libro1-InterfacesDeUsuario.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/libro2-DisenoInterfacesWeb.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Diseno Interfaces Web</h4>
                <a href="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/libro2-DisenoInterfacesWeb.pdf"
                    download="libro2-DisenoInterfacesWeb.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/Responsive web design Gonzalez2 Ux.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div> <br>
            <div class="container">
                <h4 class="semestre">Responsive web design Gonzalez2 Ux</h4>
                <a href="../../../../assets/docs/3terceroS/DISEÑO DE INTERFAZ Y EXPERIENCIA DE USUARIO/Responsive web design Gonzalez2 Ux.pdf"
                    download="Responsive web design Gonzalez2 Ux.pdf"> Descargar </a>
            </div>
        </div>
        <br>

    </div>



</div>