
<div class="card-body">

    <h1 class="titulo">METODOLOGÍAS DE DESARROLLO DE SOFTWARE</h1>
    <div class="card">
        <h4 class="semestre">Ingeniería de software</h4>
            <a href="../../../../assets/docs/2segundoS/metodologia-desarrollo/ld-Ingenieria.de.software.enfoque.practico.7ed.Pressman.PDF"
            download="ld-Ingenieria.de.software.enfoque.practico.7ed.Pressman.PDF"> <button class="zoom">Descargar</button> </a>
    </div>
    <div class="card">
                    <h4 class="semestre">Historias de usuarios</h4>
            <a href="../../../../assets/docs/2segundoS/metodologia-desarrollo/User Stories Applied - MIke Cohn (1) (1).pdf"
                download="User Stories Applied - MIke Cohn (1) (1).pdf"> <button class="zoom">Descargar</button> </a>
            </div>
    </div>