<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/tercero" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">BASE DE DATOS NO RELACIONAL</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/BASE DE DATOS NO RELACIONAL/business-intelligence-data-mining-and-optimization-for-decision-making (1).pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div> 
            <div class="container">
                <h4 class="semestre">Business-intelligence-data-mining-and-optimization-for-decision-making</h4>
                <a href="../../../../assets/docs/3terceroS/BASE DE DATOS NO RELACIONAL/business-intelligence-data-mining-and-optimization-for-decision-making (1).pdf"
                    download="business-intelligence-data-mining-and-optimization-for-decision-making (1).pdf"> Descargar
                </a>
            </div>
        </div>
        
        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/3terceroS/BASE DE DATOS NO RELACIONAL/Libro4-DBDesignUsingEntity-RelationshipDiagrams-Sikha Bagui.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div> 
            <div class="container">
                <h4 class="semestre">DBDesignUsingEntity-RelationshipDiagrams-Sikha Bagui</h4>
                <a href="../../../../assets/docs/3terceroS/BASE DE DATOS NO RELACIONAL/Libro4-DBDesignUsingEntity-RelationshipDiagrams-Sikha Bagui.pdf"
                    download="Libro4-DBDesignUsingEntity-RelationshipDiagrams-Sikha Bagui.pdf"> Descargar </a>
            </div>
        </div>
        
        <div class="card">
            <div class="pdf">
                <iframe src="../../../../assets/docs/3terceroS/BASE DE DATOS NO RELACIONAL/libro_PLpgSQL-DominguezJ.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div> 
            <div class="container">
                <h4 class="semestre">PLpgSQL-DominguezJ</h4>
                <a href="../../../../assets/docs/3terceroS/BASE DE DATOS NO RELACIONAL/libro_PLpgSQL-DominguezJ.pdf"
                    download="libro_PLpgSQL-DominguezJ.pdf"> Descargar </a>
            </div>
        </div>

    </div>




</div>