
<div class="card-body">

    <h1 class="titulo">BASE DE DATOS</h1>
    <div class="card">
        <h4 class="semestre">Base de datos relacional</h4>
            <a href="../../../../assets/docs/2segundoS/base-datos-relacional/bdrelacional.pdf"
            download="bdrelacional.pdf"> <button class="zoom">Descargar</button> </a>
    </div>
    <div class="card">
                    <h4 class="semestre">Rendimiento Base de Datos</h4>
            <a href="../../../../assets/docs/2segundoS/base-datos-relacional/RendimientosDB.pdf"
                download="RendimientosDB.pdf"> <button class="zoom">Descargar</button> </a>
            </div>
   
</div>