<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/segundo" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">BASE DE DATOS RELACIONAL</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe src="../../../../assets/docs/2segundoS/base-datos-relacional/bdrelacional.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div> 
            <div class="container">
                <h4 class="semestre">B_D_relacional</h4>
                <a href="../../../../assets/docs/2segundoS/base-datos-relacional/bdrelacional.pdf"
                    download="bdrelacional.pdf"> Descargar </a>
            </div>
        </div>
        
        <div class="card">
            <div class="pdf">
                <iframe src="../../../../assets/docs/2segundoS/base-datos-relacional/RendimientosDB.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div> 
            <div class="container">
                <h4 class="semestre">Rendimientos_D_B</h4>
                <a href="../../../../assets/docs/2segundoS/base-datos-relacional/RendimientosDB.pdf"
                    download="RendimientosDB.pdf"> Descargar </a>
            </div>
        </div>

    </div>

</div>