<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/quinto" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">ARQUITECTURA DE SOFTWARE</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/5quintoS/ARQUITECTURA DE SOFTWARE/Clean Architecture_ A Craftsman’s Guide to Software Structure and Design-Pearson Education 2018.PDF"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Architecture A Craftsman’s Guide to Software Structure and Design 2018</h4>
                <a href="../../../../assets/docs/5quintoS/ARQUITECTURA DE SOFTWARE/Clean Architecture_ A Craftsman’s Guide to Software Structure and Design-Pearson Education 2018.PDF"
                    download="Clean Architecture_ A Craftsman’s Guide to Software Structure and Design-Pearson Education 2018.PDF">
                    Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/5quintoS/ARQUITECTURA DE SOFTWARE/Diseño Ágil con TDD - Carlos Blé.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Diseño Ágil con TDD - Carlos Blé</h4>
                <a href="../../../../assets/docs/5quintoS/ARQUITECTURA DE SOFTWARE/Diseño Ágil con TDD - Carlos Blé.pdf"
                    download="Diseño Ágil con TDD - Carlos Blé.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/5quintoS/ARQUITECTURA DE SOFTWARE/Patrones de diseño - Gamma, Helm, Johnson, Vlissides (1).pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Patrones de diseño - Gamma, Helm, Johnson, Vlissides</h4>
                <a href="../../../../assets/docs/5quintoS/ARQUITECTURA DE SOFTWARE/Patrones de diseño - Gamma, Helm, Johnson, Vlissides (1).pdf"
                    download="Patrones de diseño - Gamma, Helm, Johnson, Vlissides (1).pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/5quintoS/ARQUITECTURA DE SOFTWARE/Patterns of Enterprise Application Architecture - Martin Fowler (1).pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Patterns of Enterprise Application Architecture - Martin Fowler (1).pdf</h4>
                <a href="../../../../assets/docs/5quintoS/ARQUITECTURA DE SOFTWARE/Patterns of Enterprise Application Architecture - Martin Fowler (1).pdf"
                    download="Patterns of Enterprise Application Architecture - Martin Fowler (1).pdf"> Descargar </a>
            </div>
        </div>

    </div>


</div>