<h1 class="titulo">ANÁLISIS Y DISEÑO DE SISTEMAS</h1>
<div class="cards">

    <div class="card">
        <div class="container">
            <h4 class="semestre"><a routerLink="/primer" routerLinkActive="activebutton" target="_black">07. Introducción a ASP.NET (Presentación) autor SABIA.pdf</a></h4>
            <a href="../../../../assets/docs/07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"
                download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> Descargar </a>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h4 class="semestre"><a routerLink="/primer" routerLinkActive="activebutton" target="_black">07. Introducción a ASP.NET (Presentación) autor SABIA.pdf</a></h4>
            <a href="../../../../assets/docs/07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"
                download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> Descargar </a>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h4 class="semestre"><a routerLink="/primer" routerLinkActive="activebutton" target="_black">07. Introducción a ASP.NET (Presentación) autor SABIA.pdf</a></h4>
            <a href="../../../../assets/docs/07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"
                download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> Descargar </a>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h4 class="semestre"><a routerLink="/primer" routerLinkActive="activebutton" target="_black">07. Introducción a ASP.NET (Presentación) autor SABIA.pdf</a></h4>
            <a href="../../../../assets/docs/07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"
                download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> Descargar </a>
        </div>
    </div>
</div>