
<div class="card-body">

    <h1 class="titulo">ANÁLISIS MATEMÁTICO</h1>
    <div class="card">
        <h4 class="semestre">Analisis Comparativo De Software Matematico Para La Forma</h4>
            <a href="../../../../assets/docs/2segundoS/analisis-matematico/Dialnet-AnalisisComparativoDeSoftwareMatematicoParaLaForma-6157572 (1).pdf"
            download="Dialnet-AnalisisComparativoDeSoftwareMatematicoParaLaForma-6157572 (1).pdf"> <button class="zoom">Descargar</button> </a>
    </div>
    <div class="card">
        <h4 class="semestre">Analisis Comparativo De Software Matematico Para La Forma</h4>
            <a href="../../../../assets/docs/2segundoS/analisis-matematico/Dialnet-AnalisisComparativoDeSoftwareMatematicoParaLaForma-6157572 (1).pdf"
            download="Dialnet-AnalisisComparativoDeSoftwareMatematicoParaLaForma-6157572 (1).pdf"> <button class="zoom">Descargar</button> </a>
    </div>
    
</div>