
<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/segundo" routerLinkActive="activebutton" >Atras</a></h4>
    <h4 class="titulo">ANALISIS MATEMATICO</h4>
    <div class="cards">
    
        <div class="card">
            <div class="container">
                <div class="pdf">
                    <iframe
                        src="../../../../assets/docs/2segundoS/analisis-matematico/Dialnet-AnalisisComparativoDeSoftwareMatematicoParaLaForma-6157572.pdf"
                        style="width:80%; height:300px;" frameborder="0"></iframe>
                </div> <br>
                <h4 class="semestre">Analisis Comparativo De Software Matematico Para La Forma</h4>
                <a href="../../../../assets/docs/2segundoS/algebra-trigonometria/Dialnet-AnalisisComparativoDeSoftwareMatematicoParaLaForma-6157572.pdf"
                    download="Dialnet-AnalisisComparativoDeSoftwareMatematicoParaLaForma-6157572.pdf"> Descargar </a>                
            </div>
        </div>
    </div>    
</div>