<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/quinto" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">APLICACIONES MOVILES</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/5quintoS/Aplicaciones Móviles híbridas Avanzanda/APLICACION HIBRIDA APP.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">APLICACION HIBRIDA APP</h4>
                <a href="../../../../assets/docs/5quintoS/Aplicaciones Móviles híbridas Avanzanda/APLICACION HIBRIDA APP.pdf"
                    download="COIP_act_feb-2021.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/5quintoS/Aplicaciones Móviles híbridas Avanzanda/Aplicaciones-Móviles-Híbridas-2020.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Aplicaciones-Móviles-Híbridas-2020</h4>
                <a href="../../../../assets/docs/5quintoS/Aplicaciones Móviles híbridas Avanzanda/Aplicaciones-Móviles-Híbridas-2020.pdf"
                    download="Aplicaciones-Móviles-Híbridas-2020.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/5quintoS/Aplicaciones Móviles híbridas Avanzanda/SEGURIDAD DE APLICACIONES.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">SEGURIDAD DE APLICACIONES </h4>
                <a href="../../../../assets/docs/5quintoS/Aplicaciones Móviles híbridas Avanzanda/SEGURIDAD DE APLICACIONES.pdf"
                    download="SEGURIDAD DE APLICACIONES.pdf"> Descargar </a>
            </div>
        </div>

    </div>


</div>