<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/cuarto" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">DESARROLLO DE APLICACIONES MOVILES</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/DESARROLLO DE APLICACIONES MÓVILES/17. Programación con Objective-C autor Germán A. Arias.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Programación con Objective-C autor Germán A. Arias</h4>
                <a href="../../../../assets/docs/4cuartoS/DESARROLLO DE APLICACIONES MÓVILES/17. Programación con Objective-C autor Germán A. Arias.pdf"
                    download="17. Programación con Objective-C autor Germán A. Arias.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/DESARROLLO DE APLICACIONES MÓVILES/28. Aprendizaje de Swift Language autor Stack Overflow.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Aprendizaje de Swift Language autor Stack Overflow</h4>
                <a href="../../../../assets/docs/4cuartoS/DESARROLLO DE APLICACIONES MÓVILES/28. Aprendizaje de Swift Language autor Stack Overflow.pdf"
                    download="28. Aprendizaje de Swift Language autor Stack Overflow.pdf"> Descargar </a>
            </div>
        </div>

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/4cuartoS/DESARROLLO DE APLICACIONES MÓVILES/30. Desarrollo de una app IOS en lenguaje swift con conexión a bases de datos externas y scrapping autor Alberto Aznar de los Ríos.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Desarrollo de una app IOS en lenguaje swift con conexión a bases de datos
                    externas y scrapping autor Alberto Aznar de los Ríos</h4>
                <a href="../../../../assets/docs/4cuartoS/DESARROLLO DE APLICACIONES MÓVILES/30. Desarrollo de una app IOS en lenguaje swift con conexión a bases de datos externas y scrapping autor Alberto Aznar de los Ríos.pdf"
                    download="30. Desarrollo de una app IOS en lenguaje swift con conexión a bases de datos externas y scrapping autor Alberto Aznar de los Ríos.pdf">
                    Descargar </a>
            </div>
        </div>
    </div>

</div>