<div class="card-body">

    <h4 class="titulo1"> <a routerLink="/quinto" routerLinkActive="activebutton">Atras</a></h4>
    <h4 class="titulo">PROYECTOS</h4>
    <div class="cards">

        <div class="card">
            <div class="pdf">
                <iframe
                    src="../../../../assets/docs/5quintoS/PROYECTOS DE SOFTWARE/Guia.De.Los.Fundamentos.De.La.Direccion.De.Proyectos.Guia.del.PMBOK.4ta.Edicion.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Guia De Fundamentos De La Direccion De Proyectos Guia del PMBOK 4ta Ed</h4>
                <a href="../../../../assets/docs/5quintoS/PROYECTOS DE SOFTWARE/Guia.De.Los.Fundamentos.De.La.Direccion.De.Proyectos.Guia.del.PMBOK.4ta.Edicion.pdf"
                    download="Guia.De.Los.Fundamentos.De.La.Direccion.De.Proyectos.Guia.del.PMBOK.4ta.Edicion.pdf">
                    Descargar </a>
            </div>
        </div>


        <div class="card">
            <div class="pdf">
                <iframe src="../../../../assets/docs/5quintoS/PROYECTOS DE SOFTWARE/Proyectos agiles con scrum.pdf"
                    style="width:80%; height:300px;" frameborder="0"></iframe>
            </div>
            <div class="container">
                <h4 class="semestre">Proyectos agiles con scrum</h4>
                <a href="../../../../assets/docs/5quintoS/PROYECTOS DE SOFTWARE/Proyectos agiles con scrum.pdf"
                    download="Proyectos agiles con scrum.pdf    "> Descargar </a>
            </div>
        </div>


    </div>


</div>