<div class="card-body">


    <h4 class="titulo1"> <a routerLink="/primer" routerLinkActive="activebutton" >Atras</a></h4>
    <h4 class="titulo">MATEMATICA DISCRETA</h4>
    <div class="cards">
    
        <div class="cards">
    
            <div class="card">
                <div class="pdf">
                    <iframe src="../../../../assets/docs/1primerS/mate-descreta/libro guía.pdf"
                        style="width:80%; height:300px;" frameborder="0"></iframe>
                </div> 
                <div class="container">
                    <h4 class="semestre">Libro Guía</h4>
                    <a href="../../../../assets/docs/1primerS/mate-descreta/libro guía.pdf"
                        download="libro guía.pdf"> Descargar </a>
                </div>
                
            </div>
            
            <div class="card">
                <div class="pdf">
                    <iframe src="../../../../assets/docs/1primerS/mate-descreta/Sistemas Digitales Novillo.pdf"
                        style="width:80%; height:300px;" frameborder="0"></iframe>
                </div> 
                <div class="container">
                    <h4 class="semestre">Sistemas Digitales Novillo</h4>
                    <a href="../../../../assets/docs/1primerS/mate-descreta/Sistemas Digitales Novillo.pdf"
                        download="Sistemas Digitales Novillo.pdf"> Descargar </a>
                </div>
                
            </div>
        </div>

</div>