
<div class="card-body">

    <h1 class="titulo">TÉCNICAS DE COMUNICACIÓN</h1>
    <div class="card">
        <h4 class="semestre">Introducción a las técnicas de comunicación</h4>
            <a href="../../../../assets/docs/2segundoS/tecnicas-de-comunicacion/AUD3.PDF"
            download="AUD3.PDF"> <button (click)="counter36()">Descargar</button> </a>
            <h2>Numero de descargas = {{ contador36}}</h2>
    </div>
    <div class="card">
        <h4 class="semestre">Técnicas de comunicación</h4>
            <a href="../../../../assets/docs/2segundoS/tecnicas-de-comunicacion/tecnicas-de-comunicacion-pdf.pdf"
            download="tecnicas-de-comunicacion-pdf.pdf"> <button (click)="counter37()">Descargar</button>  </a>
            <h2>Numero de descargas = {{ contador37}}</h2>
    </div>
    
</div>